<form action='/register' method='POST'>
    <input type="text" name='name' placeholder='name'>
    <input type="password" name='password' placeholder='password'>
    <input type="username" placeholder='username'>
    <input type="email" name='email' placeholder='email'>
    <input type="file" name='avatar'>

    <input type="submit" value='send'>
</form>